services:
  playlist_sync-app:
    image: econome/playlist-sync-app
    container_name: playlist_sync-app
    dns:
      - 223.5.5.5
      - 114.114.114.114
    ports:
      - "5173:3001"
    restart: always
    networks:
      - playlist_sync
    volumes:
      # 挂载数据库文件以实现数据持久化
      - ./data:/usr/src/app/data
      # 挂载日志目录
      - ./logs:/usr/src/app/logs
      # 挂载下载目录
      - ./downloads:/usr/src/app/Downloads
    env_file:
      - ./.env

networks:
  playlist_sync:
    driver: bridge